@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html
{
    background-image: url(etienne-beauregard-riverin-B0aCvAVSX8E-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
}

body
{

    display: block;
    height: 1000px;

}

a
{
    color: white;
}

.MYhouse
{
    text-decoration: none;
}



header
{
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-navbar
{
    text-decoration: underline;
    display: inline-block;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

button
{
    color: white;
    font-weight: 600;
    border-style: solid;
    border-color: #ff000000;
    background-color: #ff000000;
}

li 
{
    float: left;
}

li a 
{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.text-integrations
{
    display: flex;
    justify-content: space-between;

}

.text-integrations a 
{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


.Style-harmony
{
    margin-top: 200px;
    padding-bottom: 100px;
    margin-left: 200px;
    color: var(--font-color);
    align-items: center;
    font-size: 40px;
}

.integr
{
    margin-top: 100px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.integr img
{
    width: 30px;
    height: 30px;
}

.page-info
{
    display: flex;
    right: 0;
    bottom: 0;
    position: absolute;
    font-weight: 600;
    background-color: var(--page-info-text-color);
}

.page-info-text
{ 
    font-family: "Montserrat", sans-serif;
    margin: 20px;
}

.arrow-r
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.arrow-r img
{
    margin: auto;
    height: 90px;
}

:root
{
    --font-color: #ffffff; /*text*/
    --page-info-text-color: #8c8c8ca4; /*frame*/

}

/*

.page-info
{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: var(--page-info-text-color);

    v2

    right: 0;
    bottom: 0;
    position: absolute;
}

*/